
*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

header{
    background-color:#25282c;
    padding:10px;
    color:white;
}

div#googleMap {
    width:100%;
    height:93%;
    position: absolute;
    top: 55px;
    left: 0px;
}
